
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Entornos
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
*.log

# Configuración/secretos
.env
*.env
.env.*

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Compilado front (si aplica)
node_modules/
dist/
build/
